apiVersion: apps/v1
kind: Deployment
metadata:
  name: multi-port-app

spec:
  replicas: 2
  selector:
    matchLabels:
      app: multi-port
  template:
    metadata:
      labels:
        app: multi-port
    
    spec:
      containers:
        - name: app
          image: nginx:1.26
          ports:
          - containerPort: 80
            name: http
          - containerPort: 443
            name: https
